/* You can add global styles to this file, and also import other style files */

@import './app/styles/variables';
html,
body,
p {
    color: $main-text-color
}

.appartment {
    color: #a72da3;
}

.condo {
    color: #d68000;
}

.house {
    color: #bf1818;
}